{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="my-4">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for field in form %}
        <div class="row gx-2 mb-4">
          <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label text-md-end">
            <strong>{{ field.label_tag }}</strong>
          </label>
          <div class="col-md-5">
          {{ field }}
          {{ field.errors }}
          </div>
        </div>
        {% endfor %}
        <div class="row">
          <div class="col-md-8 text-end">
            <button type="submit" name="action">{% trans "Change Password" %}</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 text-end">
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock content %}

