{% extends 'base.html' %}
{% load i18n %}
{% block title %}Password Reset | Miku{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h2 class="my-4">{% if token_fail %}{% trans "Token Error" %}{% else %}{% trans "Password Reset" %}{% endif %}</h2>

    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% trans 'The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset' %}</a>.</p>
    {% else %}
      <form method="post" action="{{ action_url }}">
        {% csrf_token %}

        {% for field in form %}
          <div class="row gx-2 mb-4">
            <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label text-md-end">
              <strong>{{ field.label_tag }}</strong>
            </label>
            <div class="col-md-5">
            {{ field }}
            {{ field.errors }}
            </div>
          </div>
        {% endfor %}
        <div class="row">
          <div class="col-md-8 text-end">
            <button class="btn btn-primary" type="submit">{% trans 'Change Password' %}</button>
          </div>
        </div>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
