{% extends 'base.html' %}
{% block title %}Sign Up | Miku{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h2 class="my-4">Sign Up</h2>
    <form method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}

      {% for field in form %}
        <div class="row gx-2 mb-4">
          <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label text-md-end">
            <strong>{{ field.label_tag }}</strong>
          </label>
          <div class="col-md-5">
          {{ field }}
          {{ field.errors }}
          </div>
        </div>
      {% endfor %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="row">
        <div class="col-md-8 text-end">
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
