{% extends 'base.html' %}
{% load static %}
{% block title %}Blog | Project Miku{% endblock %}
{% block content %}
<section>
  <div class="container">
    <h2 class="my-4">Blog</h2>
    <div class="row">
    <p>Blog your own site</p>
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for record in orderby_records %}
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              {{ record.title }}</h2>
            <h3 class="post-subtitle">
              <span style="font-size : 14pt">
                {{ record.content| truncatechars:50}}
              </span>
          </a>
          <p class="post-meta">
          <a href="#">Django's Blog</a>
            Post at {{ record.posted_at }}
          </p>
        </div>
        {% endfor %}

        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary text-uppercase" href="#!">
            Older Posts ->
          </a>
        </div>
      </div>
    {% if user.is_authenticated %}
    {{ user.username }}
    {{ user.email }}
    {% else %}
    You are a guest.
    {% endif %}
    </div>
  </div>
</section>
{% endblock %}
