{% extends 'base.html' %}
{% load static %}
{% block title %}Blog | Project Miku{% endblock %}
{% block content %}
<section>
  <div class="container">
    <h2 class="my-4">Blog</h2>
    <div class="row">
    <p>Blog your own site</p>
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for record in orderby_records %}
        <div class="post-preview">
          <a href="{% url 'blog:blog_detail' record.pk %}">
            <h2 class="post-title">
              {{ record.title }}</h2>
            <h3 class="post-subtitle">
              <span style="font-size : 14pt">
                {{ record.content| truncatechars:50}}
              </span>
            </h3>
          </a>
          <p class="post-meta">
          <a href="#">Django's Blog</a>
            Post at {{ record.posted_at }}
          </p>
        </div>

        <hr class="my-4" />
        {% endfor %}

        {% include "pagination.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
