{% extends 'base.html' %}

{% block title %}Inquiry{% endblock %}
{% block content %}
<div class="container">
  <h2 class="my-4">Inquiry</h2>
  <div class="row">
    <form method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {% for field in form %}
        <div class="row gx-2 mb-4">
          <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label text-md-end">
            <strong>{{ field.label_tag }}</strong>
          </label>
          {% if field.id_for_label == "id_name" %}
          <div class="col-md-5">
            {{ field }}
            {{ field.errors }}
          </div>
          {% elif field.id_for_label == "id_email" %}
          <div class="col-md-7">
            {{ field }}
            {{ field.errors }}
          </div>
          {% else %}
          <div class="col-md-9">
            {{ field }}
            {{ field.errors }}
          </div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="row">
        <div class="col-12 text-end">
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
